@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  var printOnly = CmsContext.View.Identifier == "print";

  // sets qrlink to specified url  
  var qrLink = Content.LinkCurrentPage ? Link.To(parameters: CmsContext.Page.Parameters) : Content.Link;

  // Use either the qr-code settings of the current item or use the defaults
  var qrParams = Content.QrCodeSettings.EntityId != 0 ? Content.QrCodeSettings : App.Settings.QrCodeSettings;

  // url params for qr-code
  var urlParams = 
    "color=" + qrParams.Color.Trim('#') // remove any # if there is one on the color-code
    + "&bgcolor=" + qrParams.BackgroundColor.Trim('#') // remove any # if there is one on the color-code
    + "&qzone=" + qrParams.Border
    + "&size=" + qrParams.Size + "x" + qrParams.Size
    + "&ecc=" + qrParams.ErrorCorrection
    + "&margin=" + 0
    + "&data=" + qrLink;
}


<div @Edit.TagToolbar(Content) class='@(printOnly ? "app-qrcode2-print-only" : "")'>
  <a href='@qrLink'>
    <img loading="lazy" src="//api.qrserver.com/v1/create-qr-code/?@urlParams"/>
  </a>
  @if(Content.DisplayLinkOrTitle) {
    var displayText = Text.Has(Content.Title) ? Content.Title : Content.Link;
    <div style="display: @Content.DisplayLinkOrTitle">@displayText</div>
  }
</div>

@if(printOnly && Edit.Enabled) {
  <div class="alert alert-info" @Edit.TagToolbar(Content)>
    @Resources.PrintQrAdminHint    
  </div>
}

<style>
  @@media screen {
    .app-qrcode2-print-only { display: none; }
  }

  @@media print{
    .app-qrcode2-print-only { display: block; }
  }
</style> 