@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  var printOnly = CmsContext.View.Identifier == "print";

  // sets qrlink to specified url  
  var qrLink = Content.LinkCurrentPage ? Link.To(parameters: CmsContext.Page.Parameters) : Content.Link;

  // url params for qr-code
  var urlParams = 
    "color=" + Content.Presentation.Color
    + "&bgcolor=" + Content.Presentation.BackgroundColor
    + "&qzone=" + Content.Presentation.Border
    + "&size=" + Content.Presentation.Size + "x" + Content.Presentation.Size
    + "&ecc=" + Content.Presentation.ErrorCorrection
    + "&data=" + qrLink
    + "&margin=" + 0;
}


<div @Edit.TagToolbar(Content) class='@(printOnly ? "app-qrcode2-print-only" : "")'>
  <a href='@qrLink'>
    <img src="//api.qrserver.com/v1/create-qr-code/?@urlParams"/>
  </a>
  @if(Content.DisplayLinkOrTitle) {
    var displayText = Text.Has(Content.Title) ? Content.Title : Content.Link;
    <div style="display: @Content.Presentation.ShowLinkOrTitleBelow">@displayText</div>
  }
</div>

@if(printOnly && Edit.Enabled) {
  <div @Edit.TagToolbar(Content)>
    @Resources.PrintQrAdminHint    
  </div>
}

<style>
  @@media screen {
    .app-qrcode2-print-only { display: none; }
  }

  @@media print{
    .app-qrcode2-print-only { display: block; }
  }
</style> 