@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  // The view identifier determines if the code should be visible or only on printing
  var printOnly = CmsContext.View.Identifier == "print";

  // sets qrlink to specified url  
  var qrLink = Content.LinkCurrentPage ? Link.To(parameters: CmsContext.Page.Parameters) : Content.Link;

  // This ID is used to identify our unique code in the HTML DOM
  var qrDomId = "qr-code-js" + CmsContext.Module.Id;
}
@* URL and Title for the QR Code *@
<div @Edit.TagToolbar(Content) class='@(printOnly ? "app-qrcode2-print-only" : "")'>
  <a class="@qrDomId" href='@qrLink' target="_blank"></a>
  @if (Content.DisplayLinkOrTitle) {
    var displayText = Text.First(Content.Title, Content.Link);
    <div>@displayText</div>
  }
</div>

@* Show a special message to admins if the QR-Code is invisible otherwise *@
@if (printOnly && Edit.Enabled) {
  <div class="alert alert-info app-qrcode2-noprint" @Edit.TagToolbar(Content)>
    @Resources.PrintQrAdminHint
  </div>
}

@* Include assets *@
@{
  // Generate the QR Code 
  var qrParams = Content.QrCodeSettings.EntityId != 0 ? Content.QrCodeSettings : App.Settings.QrCodeSettings;

  var data = new {
      domId = qrDomId,
      options = new {
        color = "#" + qrParams.Color.Trim('#'),
        width = qrParams.Size,
        height = qrParams.Size
      }
  };
}

@* When the page is ready, run appQr2 to init JS *@
@Kit.Page.TurnOn("window.appQr2.init()", data: data)
<script type="text/javascript" src="@App.Path/dist/scripts.min.js" @Kit.Page.AssetAttributes(position: "bottom")></script>
<link rel="stylesheet" href="@App.Path/dist/styles.min.css">